<span class="label label-primary">{{ item.lang }}</span>
{% set lang = item.toArray() %}
<dl class="dl-horizontal">
    {% for field, val in lang %}
        {% set uuid = loop.index %}
        {% if field matches '/_md/i' %}
            <dt>{{ field|replace({'_md': ''})|humanize|title }}</dt>
            <dd>{{ val|markdown|raw }}</dd>
        {% elseif field matches '/_img_.+/i' %}
            {% set field = field|split('_img_') %}
            <dt>{{ field[0]|humanize|title }}</dt>
            <dd>
                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
                    <img src="{{ asset(site['image_path_' ~ field[1]] ~ val) }}">
                </a>

                <div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
                    <img src="{{ asset(site['image_path_' ~ field[1]] ~ val) }}">
                </div>
            </dd>
        {% else %}
            <dt>{{ field|humanize|title }}</dt>
            <dd>{{ val|raw }}</dd>
        {% endif %}
    {% endfor %}
</dl>