{# translations collection row  #}
{% block collection_row %}
    {% if form.vars.unique_block_prefix matches '/_translations$/' %}
        {% for subform in form.children %}
            {{ form_widget(subform) }}
            <hr>
        {% endfor %}
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock %}

{# metadata row #}
{% block meta_data_row %}
    {{ form_widget(form) }}
{% endblock %}

{# lang field shown as plain text #}
{% block text_row %}
    {% if form.vars.name == 'lang' %}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div class="bg-info">
            <div class="form-group">
                {{- form_label(form) -}}
                <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}">
                <div class="{{ block('form_group_class') }}">
                    <div class="lang">
                        {{- form.vars.value -}}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock %}