{% if value|length > 0 %}
    {% for item in value %}
        {% include '@UknightBasic/admin/partials/translation.html.twig' %}
    {% endfor %}
{% else %}
    <span class="empty collection-empty">
        {{ include(entity_config.templates.label_empty) }}
    </span>
{% endif %}